
.container1{
  display: flex;
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar{
  min-height: 700px;
}
.tag{
  margin:0 10px 10px 0 ;
}
.form{
  width: 700px;
  margin: 50px 100px;
}
.welcome-message{
  margin: 100px 0;
}
.welcome-message form input{
  max-width: 800px;
}
.spiner{
  margin: 10% 0;
}
.btn-search{
    padding: 10px 80px;
    font-size: 15px;
    border-radius: 10px;
}
.singleMovies {
  display: flex;
  flex-direction: column;
  width: 203px;
  margin-top: 10px;
}
.moviesImg{
  width: 100%;
}
.cardImg{
  max-width: 200px;
}
.moviesCard {
  margin: 25px 25px 25px 53px;
  border: 1px solid black;
  border-radius: 5px;
  width: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
.totalMovies{
  display: flex;
  flex-wrap: wrap;
}
.summeryBtn{
  margin-top: 10px;
}
.cardTitle span{
  font-weight: 400;
}
.linkBtn{
  margin-right: 40px;
}
.summaryTemplate{
  margin: 40px 0 40px 80px;
}
.summaryImage{
  padding: 16px;
}
.formSection{
  margin-top: 40px;
}
.formInput{
  max-width:380px ;
}